@import 'reset.css';
@import '../fonts/iconfont.css';
%full{
	width:100%;
	height: 100%;
}
body,html{
	@extend %full;
}
.active{
	color:red;
}
.wrap{
	@extend %full;
	display: flex;
	flex-direction:column;
	header{
		width:100%;
		flex-shrink:0;
		.header-one{
			width:100%;
			height: 40px;
			background:#f1333f;
		    display: flex;
		    align-items:center;
		    p{
				width:90%;
				margin-left:5%;
				height: 30px;
				background:#fff;
				border-radius: 30px;
				display: flex;
				i{
					width:35px;
					height: 30px;
					text-align: center;
					line-height: 30px;
				}
				input{
					flex:1;
					outline: none;
					border:none;
					margin-right: 21px;
				}
			}
		}
		.header-two{
			width:100%;
			position: relative;
			border-bottom: 1px solid #ccc;
			overflow: hidden;
			ul{
				display: flex;
				li{
					width:90px;
					height: 20px;
					display: flex;
					align-items:center;
					justify-content:center;
					flex-shrink:0;
				}
			}
			span{
				width:30px;
				height: 20px;
				background:#fff;
				position: absolute;
				right:0;
				top:0;
				border-left:1px solid #ccc;
				text-align: center;
			}
		}
	}
	.main{
		width:100%;
		height: 100%;
		flex:1;
		flex-shrink:1;
		overflow-y:auto;

	}
	.scroll{
		/*height: 100%;*/
		display: flex;
	}
	section{
		width:100%;
		height: 100%;
		flex-shrink:0;
		.sec_one{
			width:100%;
			margin-top:10px;
			margin-bottom: 16px;
			ul{
				width:100%;
				display: flex;
				li{
					&:nth-child(1){
						width:67%;
						margin-left:2%;
						margin-right:2%;
						display: flex;
						flex-direction:column;
						justify-content:space-between;
						span{
							&:nth-child(1){
								font-size:18px;
								font-weight: bold;
								color:#242424;
							};
							&:nth-child(2){
								display: flex;
								justify-content:space-between;
								color:#c5c5c5;
							};
						}
					};
					&:nth-child(2){
						width:29%;
						img{
							width:100%;
						}

					};

				}
			}
		}
		.sec_two{
			width:100%;
			margin-top:10px;
			margin-bottom: 16px;
			ul{
				width:100%;
				display: flex;
				li{
					&:nth-child(1){
						width:67%;
						margin-left:2%;
						margin-right:2%;
						display: flex;
						flex-direction:column;
						justify-content:space-between;
						span{
							&:nth-child(1){
								font-size:18px;
								font-weight: bold;
								color:#242424;
							};
							&:nth-child(2){
								display: flex;
								justify-content:space-between;
								i{
									color:#c5c5c5;
									&:nth-child(1){
										width:26px;
										height: 15px;
										text-align: center;
										line-height: 15px;
										border:1px solid #7a9fb9;
										color:#7a9fb9;
									};
								}
							};
						}
					};
					&:nth-child(2){
						width:29%;
						img{
							width:100%;
						}

					};

				}
			}
		}
	}
	footer{
		width:100%;
		background:#f5f5f5;
		padding:5px 0;
		flex-shrink:0;
		ul{
			width:100%;
			display: flex;
			li{
				flex:1;
				display: flex;
				flex-direction:column;
				justify-content:center;
				align-items:center;
				i{
					padding:3px 0;
				}
			}
		}
	}
}